.socket-image {
    background-image: url("http://cdn.onlinewebfonts.com/svg/img_1249.png");
    background-size: cover;
}

.socket-top-margin {
    margin-top: 10px;
}


.online{
    color: green;
}

.offline{
    color: red;
}

.opacity {
    opacity: 60%;
}