@use '@angular/material' as mat;
@use 'palette-helper';

$linear-background: linear-gradient(144deg, rgba(0,138,219,0.65) 39%, rgba(27,40,69,1) 57%);
$linear-component-background: linear-gradient(180deg, rgba(255,165,82,1) 0%, rgba(242,244,255,1) 100%);
.custom-app-background {
  background: $linear-background;
}

@include mat.core();

$primary-palette: mat.define-palette(mat.$indigo-palette, 500);
$accent-palette: mat.define-palette(mat.$pink-palette, A200, A100, A400);
$warn-palette: mat.define-palette(mat.$red-palette);

$my-theme: mat.define-light-theme((
  color: (
    primary: $primary-palette,
    accent: $accent-palette,
    warn: $warn-palette,
  )
));
$my-theme: palette-helper.modify-background($my-theme, $linear-background);

@include mat.all-component-themes($my-theme);

.mat-raised-button.mat-warn, .mat-fab.mat-warn, .mat-mini-fab.mat-warn, .mat-flat-button, .mat-raised-button, .mat-fab, .mat-mini-fab {
  background: $linear-background;
}

.top-bar-menu{
  color: 
}


html, body {
  margin: 0;
  height: 100%;
}