.formContainer{
    margin: 0;
    position: absolute;
    top: 50%;
    left: 50%;
    -ms-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);
    
}
.container{
    height: 550px;
    position: relative;
    padding: 2%;
}
#submitBtn{
    float: right;
    margin-top: 10%;
    color: rgba(27,40,69,1);
    background: linear-gradient(180deg, rgba(255,165,82,1) 0%, rgba(242,244,255,1) 100%);
}
#submitBtn:hover{
    background: linear-gradient(180deg, rgba(255,165,82,0.5) 0%, rgba(242,244,255,0.5) 100%);
}
#loginBtn{
    float: right;
    margin-top: 10%;
    color: rgba(27,40,69,1);
    background: linear-gradient(180deg, rgba(255,165,82,1) 0%, rgba(242,244,255,1) 100%);
}
#loginBtn:hover{
    background: linear-gradient(180deg, rgba(255,165,82,0.5) 0%, rgba(242,244,255,0.5) 100%);
}
#ConnectButton{
    padding: 30px;
    padding-left: 25%;
    padding-right: 25%;
    position: absolute;
    bottom: 3%;
    left: 50%;
    color: rgba(27,40,69,1);
    -ms-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);
    border: 2px solid #ebebeb;
    background:linear-gradient(180deg, rgba(255,165,82,1) 0%, rgba(242,244,255,1) 100%);
}
