<mat-toolbar class="primary-color spacer">
<div class="spacer">
    <button mat-icon-button (click)="onSidenavOpen()">
        <mat-icon>menu</mat-icon>
    </button>
</div>
<div class="spacer">
    <a routerLink=""> Hjem</a>
    <mat-icon>keyboard_arrow_down</mat-icon>
</div>
<div>
    <button mat-icon-button (click)="onSidenavOpen()" title="Search">
        <mat-icon>search</mat-icon>
    </button>
    <button mat-icon-button (click)="onSidenavOpen()" title="Open Menu">
        <mat-icon>more_vert</mat-icon>
    </button>
    <button mat-icon-button (click)="onLogout()" title="Logout">
        <mat-icon>eject</mat-icon>
    </button>
</div>
</mat-toolbar>